/*
Sprint 5 Gruppe 4 Onlineshop Datum: 03.01.2016
Verfasser: Marcel Riedl, Matrikelnummer: 3113845
User Story: 430 Als Programmierer möchte ich verschiedene Bereiche neu designen.
Task: 430-1 (#10604) Backend-Bereich designen  
Zeitaufwand: 8 Stunden mit einlesen in CSS + Einbindung der Klassen in den View-Files 
Beschreibung: Es wird hier die CSS für den Backend Bereich erstellt.
*/

/*<!--Sprint: 2
 * @author: Renat Cabriolu
 * Datum: 25.10.2015
 * User Story (Nr.: 150)  Backend Bereich (Design) 
 * Zeit insgesamt: 1h

*/

// Sprint 2 Renato Cabriolu Start
header, nav, main, aside, footer {
    display: block;
}

html{
    font-size: 100%;
    font-family: Verdana, sans-serif;
}

/*layoutbereich im body*/
body{
    width: 100%;
    font-size: 0.875rem;
    margin: 1rem auto;
}

/* layoutbereich header*/
header {
    position: relative;
    padding: 0 0rem 1rem 0rem;
    padding-top: 1rem;
}

header h1{
    padding: 0;
    margin: 0.75rem 0;
    padding-top: 5rem;
}

/*links im header*/
header a {
    color: white;
    text-decoration: none;
}

nav {
    position: relative;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    min-height: 500px;
    // Sprint 2 Renato Cabriolu Ende
    // Sprint 5 Marcel Riedl Start
    background: whitesmoke;
    // Sprint 5 Marcel Riedl Ende
    // Sprint 2 Renato Cabriolu Start
    padding: 0rem;
}

footer{
    color: #aaa;
    padding: 2rem;
    background: black;
}

main section{
    padding: 1rem;
    margin-bottom: 1rem;
}

// Sprint 2 Renato Cabriolu Ende
// Sprint 5 Marcel Riedl Start

.linkProdukt{
    font-family: Verdana, sans-serif;
    color: #528ecc;
}

.linkProdukt:hover{
    color: black;
    font-size: 110%;
}

select{
    width: auto;
    padding: 6px 15px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #f1f1f1;
}

label{
    size: 5px;
}

input[type=text]{
    width: 50%;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;

}

input[type=text]:focus{
    border: 3px solid #555;
}

input[type=submit], button{
    // copied from Christian Frindt Sprint 2 StyleWarenkorb.css
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    // copied ende Sprint 2 Christian Frindt
}
// Sprint 5 Marcel Riedl Ende
// Sprint 2 Renato Cabriolu Ende