<!--
//Sprint 5, Gruppe 4 Onlineshop, 
//Verfasser: Christian Frindt, Datum: 08.01.2016 Version 1.0
//UserStory: Als Kunde möchte ich verschiedene Kontenarten
//Task: Kontenverwaltungsplattform programmieren
//Aufwand: 5 min
//Beschreibung: Style der Kontenwahl
-->
#Kontotypen{
    background-color: white;
    margin-bottom: 200px;
    margin-top: 50px;
    
}

